table {
	border-collapse: separate;
	border-spacing: 0;
}

th,
td {
	padding: 10px 15px;
}

thead {
	background: #395870;
	color: #fff;
}

tbody tr:nth-child(even) {
	background: #f0f0f2;
}

td {
	border-bottom: 1px solid #cecfd5;
	border-right: 1px solid #cecfd5;
}

	td:first-child {
		border-left: 1px solid #cecfd5;
	}
.filterable
{
	margin-top:15px
}
.filterable .panel-heading .pull-right
{
	margin-top:-20px
}
.filterable .filters input[disabled]
{
	background-color:transparent;
	border:none;
	cursor:auto;
	box-shadow:none;
	padding:0;
	height:auto
}
.filterable .filters input[disabled]::-webkit-input-placeholder
{
	color:#333
}
.filterable .filters input[disabled]::-moz-placeholder
{
	color:#333
}
.filterable .filters input[disabled]:-ms-input-placeholder
{
	color:#333
}

