################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/PlumHound/v17/.suo
/.vs/PlumHound/FileContentIndex/*
/.vs
/env
/env1
/lib/__pycache__
/modules/__pycache__
/reports/*.html
/reports/*.csv
/log/*
